should document suggest SIG(0) only signatures?

Fewer options are better, and maintenance of thousands of TSIG shared keys is hard, and could be a security liability.


Where's the pain? At the Distribution Master?

The DNS Outsourcing Provider has anyway somehow got to manage who is a customer and who isn't, and establish the initial trust.

I can see that sig(0) is tempting, but we've still got to ensure the bootstrap is secure.

I'm not sure I fully grok the difference in complexity.

Have I got the following right?

I believe we've said all DNSSEC signing will be done on the Homenet CPE, so that's where the public key will probably be generated and reside. The Distribution Master still has to learn to trust that key for a new customer, which may come down to source and destination IP address of the first transaction. Will this be via glue records located at the ISP or DNS Outsourcing Provider for fetching the first AXFR and the public keys?

Then the customer buys a new router and generates a new private key so the zone signing key will rotate..... which also has to be robust and is unlike a normal key rotation because the old key will have already disappeared, but again this could be also covered by glue.

So fundamentally we could rely on glue records configured on the ISP for bootstrapping SIG(0), but would have to figure out how to do out of band shared secret distribution for TSIG (was included in the DHCPv6 option draft)?

If so, SIG(0) has a real advantage.

I think that I don't quite understand your thinking!
SIG(0) is better than TSIG, because with TSIG the Distribution Master has to maintain privacy as well as integrity for the thousands of keys that it contains.  TSIG keys, being relatively easily typed in, are therefore also easily stored by the customer in random places.
In my implementation, I do generation of a key pair during manufacturing time, and I generate an IDevID with a WebPKI (CAB) anchor, and I intend to use that relationship to bootstrap DNS.
I intend to use SIG(0) to update the DS and NS records in the parent, and then let the parent poll CDS records to keep the DS for the KSK up to date.  But, NS records are the ones more likely to change.

You are simply way ahead of me, but I think this is definitely worth a dedicated section in the draft.

A smart and standardised way of establishing and maintaining mutual trust between the DM and the CPE is a big win.

What (if any) trust anchor would be used in the opposite direction?

DNSSEC root KSK + DANE?

To answer my own question, how about the following text.

"The Hidden Primary Server SHOULD accept SOA [RFC1033], AXFR
   [RFC1034], and IXFR [RFC1995] queries from its configured secondary
   DNS server(s).  The Hidden Primary Server SHOULD send NOTIFY messages
   [RFC1996] in order to update Public DNS server zones as updates
   occur.  Because, the Homenet Zones are likely to be small, the HNA
   MUST implement AXFR and SHOULD implement IXFR."

becomes

"The Hidden Primary Server SHOULD accept SOA [RFC1033], AXFR
   [RFC5936], and IXFR [RFC1995] queries from its configured secondary
   DNS server(s).  The Hidden Primary Server SHOULD send NOTIFY messages
   [RFC1996] in order to update Public DNS server zones as updates
   occur.  Because, the Homenet Zones are likely to be small, the HNA
   MUST implement AXFR and SHOULD implement IXFR.

AXFR requests SHOULD be authorised based on mechanisms specified
in RFC5936 Section 5 Authorization. The use of SIG(0) is RECOMMENDED to remove
the need to maintain large numbers of per-customer TSIG shared secrets on the Distribution Master."

Open point: what is the status of authorisation of IXFR and SOA via SIG(0)? There was a draft https://tools.ietf.org/html/draft-ietf-dnsext-rfc1995bis-ixfr-01 but I can't find any progress on this.

Does this mean SIG(0) can't be applied universally? Revert to TLS?

I think that I see where we are missing each other!
I am thinking about SIG(0) to authenticate the DNS dynamic update that the HNA would do in order to update the parent zone's NS records (and to setup the initial DS record). The parent would poll the child for CDS records in order keep the DS records up-to-date.
You are asking how the DM would authenticate itself in order to do zone transfers from the HNA.
I hadn't thought too hard about that side of things, and I'm not sure about the answer about how the HNA will trust the DM's SIG(0)!  I think that yes, DNSSEC with a SIG(0) some place in the parent's tree.  Have to think about that.
(IPsec will never work; I say this, sadly, as an IPsec guru)

Right.

My focus is indeed avoiding abuse of the HNA whilst serving queries from a DM, but avoiding use of the IP-based filters from the last DHCPv6 options draft, or resorting to complex protocols that need even more keying material.

There will potentially be a lot of HNA's. The HNA's will have to work with a number of outsource name providers, who eventually may have to deploy multiple DM's for scalability, and/or renumber on the fly if the DM themselves are attacked. I'd like Homenet to smoothly work around renumbering or spawning a new DM if possible.

If we limit ourselves to the 3 query types that are required to be answered by the HNA in the current draft:

AXFR - there is an explicit existing solution in RFC5936. The remaining potential large-scale abuse is an attacker sending fake source AXFR queries, so that multiple HNA's are tricked into fetching the key needed to check the SIG(0) signature on the request.  RRL and caching of the key could probably mitigate this, and the attacker also has to set up a TCP session to initiate the abuse.

The domain names associated with common DM providers could be baked into the device at the factory. Others could be added manually or via DHCPv6 options.

IXFR - The potential abuse is a simple DNSSEC amplification attack. Allowing replies to an IXFR query received over UDP could be a real disaster, although hopefully that should be obvious to implementers. The only pre-baked solutions I can currently find are rfc7858 DNS over TLS, or forcing use of TCP only, or RRL. If the IXFR journal isn't available (due to memory/storage restictions on the HNA) the DM will anyway have to revert to AXFR over TCP.

I'm wondering whether supporting IXFR at all is going to cause more problems than it solves. IXFR would then become a "MAY".

Maybe you have smarter solutions so that TLS isn't a big overhead.

Or else implementing SIG(0) for IXFR https://tools.ietf.org/html/draft-ietf-dnsext-rfc1995bis-ixfr-01, as this communication will only be used between a relatively small number of specialist resolvers on DM machines and the HNA.

SOA - as long as the reply is kept small and/or RRL is applied, this should not be a worry, and it's not relevant if the request really comes from a DM or not IMHO.

Any other query types SHOULD be silently discarded.

@v6ops, we are not sure what to do with this.