Fix idnits

See https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-ietf-homenet-front-end-naming-delegation-24.txt

```
== Unused Reference: 'I-D.ietf-uta-rfc6125bis' is defined on line 1353, but
     no explicit reference was found in the text

  == Unused Reference: 'RFC6125' is defined on line 1392, but no explicit
     reference was found in the text

  -- Obsolete informational reference (is this intentional?): RFC 5077
     (Obsoleted by RFC 8446)
```

fixed in 4ffb0bf

On Wed, Dec 7, 2022 at 1:09 AM Eric Vyncke ***@***.***> wrote:

> See
> https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-ietf-homenet-front-end-naming-delegation-24.txt
>
> == Unused Reference: 'I-D.ietf-uta-rfc6125bis' is defined on line 1353, but
>      no explicit reference was found in the text
>
> I can find the reference in the text so I suspect that is a bug in the
tool. however, it might me more appropriated to move the status from
normative to informational- I just created a new branch.

>
>
>   == Unused Reference: 'RFC6125' is defined on line 1392, but no explicit
>      reference was found in the text
>
> This is on the same line. I suspect the tool is not able to parse [ref1][ref2]. It seems to require a space between the refs.
>   -- Obsolete informational reference (is this intentional?): RFC 5077
>      (Obsoleted by RFC 8446)
>
> I think the text should be:
The use of a TLS session resumption is RECOMMENDED.

>  —
> Reply to this email directly, view it on GitHub
> <https://github.com/ietf-homenet-wg/ietf-homenet-hna/issues/60>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABSL7SQDHWX4HBGH6QV3TSLWMASYJANCNFSM6AAAAAASWMPDEE>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


-- 
Daniel Migault
Ericsson
8400 boulevard Decarie
Montreal, QC   H4P 2N2
Canada

Phone: +1 514-452-2160


> tool. however, it might me more appropriated to move the status from normative to informational- I just created a new branch.

I don't agree.
You have to do the RFC6125 DNS-ID test to implement right, so it needs to be a normative reference.


Just to clarify,. your point is that:
RFC6125 is normative and
I-D.ietf-uta-rfc6125bis is normative

or is it just RFC6125 that needs to be normative ?

Yours,
Daniel

On Wed, Dec 7, 2022 at 2:37 PM Michael Richardson ***@***.***>
wrote:

> tool. however, it might me more appropriated to move the status from
> normative to informational- I just created a new branch.
>
> I don't agree.
> You have to do the RFC6125 DNS-ID test to implement right, so it needs to
> be a normative reference.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/ietf-homenet-wg/ietf-homenet-hna/issues/60#issuecomment-1341492844>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABSL7SUATCGKTRLRC6PDA53WMDROXANCNFSM6AAAAAASWMPDEE>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


-- 
Daniel Migault
Ericsson
8400 boulevard Decarie
Montreal, QC   H4P 2N2
Canada

Phone: +1 514-452-2160


mglt ***@***.***> wrote:
    > Just to clarify,. your point is that:
    > RFC6125 is normative and
    > I-D.ietf-uta-rfc6125bis is normative

    > or is it just RFC6125 that needs to be normative ?

They need to be normative.
But, we can reference just I-D.ietf-uta-rfc6125bis, because it does
completely replace RFC6125, not just amend the DNS-ID (removing SubjectName
from where one looks).




ok I will update the text accordingly and push it in a few minutes

On Wed, Dec 7, 2022 at 3:09 PM Michael Richardson ***@***.***>
wrote:

> mglt ***@***.***> wrote:
> > Just to clarify,. your point is that:
> > RFC6125 is normative and
> > I-D.ietf-uta-rfc6125bis is normative
>
> > or is it just RFC6125 that needs to be normative ?
>
> They need to be normative.
> But, we can reference just I-D.ietf-uta-rfc6125bis, because it does
> completely replace RFC6125, not just amend the DNS-ID (removing SubjectName
> from where one looks).
>
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/ietf-homenet-wg/ietf-homenet-hna/issues/60#issuecomment-1341530364>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ABSL7STU2RSQS35H4APHMSDWMDVI5ANCNFSM6AAAAAASWMPDEE>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


-- 
Daniel Migault
Ericsson
8400 boulevard Decarie
Montreal, QC   H4P 2N2
Canada

Phone: +1 514-452-2160


I just pushed the changes. adding back RFC6125 as
normative ietf-uta-rfc6125bis reminas normative

On Wed, Dec 7, 2022 at 4:01 PM Daniel Migault ***@***.***> wrote:

> ok I will update the text accordingly and push it in a few minutes
>
> On Wed, Dec 7, 2022 at 3:09 PM Michael Richardson <
> ***@***.***> wrote:
>
>> mglt ***@***.***> wrote:
>> > Just to clarify,. your point is that:
>> > RFC6125 is normative and
>> > I-D.ietf-uta-rfc6125bis is normative
>>
>> > or is it just RFC6125 that needs to be normative ?
>>
>> They need to be normative.
>> But, we can reference just I-D.ietf-uta-rfc6125bis, because it does
>> completely replace RFC6125, not just amend the DNS-ID (removing
>> SubjectName
>> from where one looks).
>>
>>
>> —
>> Reply to this email directly, view it on GitHub
>> <https://github.com/ietf-homenet-wg/ietf-homenet-hna/issues/60#issuecomment-1341530364>,
>> or unsubscribe
>> <https://github.com/notifications/unsubscribe-auth/ABSL7STU2RSQS35H4APHMSDWMDVI5ANCNFSM6AAAAAASWMPDEE>
>> .
>> You are receiving this because you commented.Message ID:
>> ***@***.***>
>>
>
>
> --
> Daniel Migault
> Ericsson
> 8400 boulevard Decarie
> Montreal, QC   H4P 2N2
> Canada
>
> Phone: +1 514-452-2160
>
>

-- 
Daniel Migault
Ericsson
8400 boulevard Decarie
Montreal, QC   H4P 2N2
Canada

Phone: +1 514-452-2160
